@charset "utf-8";
/* CSS Document */

/*	     __                           
        / /___ ___ __________________/
   __  / / __ `__ \ ___Jennifer_____/
  / /_/ / / / / / /____Morehead____/
  \____/_/ /_/ /_/________________/ 
*/

/*///COLORS///*/

/* Color Theme Swatches in Hex */
.blue { background-color: #3B568C; }
.aqua-deep{ background-color: #49B3BF; }
.aqua-medium { background-color: #55D9D9; }
.aqua-light { background-color: #80F2E7; }
.gray { background-color: #BFB9B8; }

.mute-blue { background-color: #466B73; }
.soft-black { background-color: #37403E; }
.dark-gray { background-color: #878C80;}
.light-gray { background-color: #D3D9C7;  }
.natural { background-color: #EEF2DF; }

/*///IMAGES///*/

#hero-image {
  background-image: url('https://images.pexels.com/photos/2807379/pexels-photo-2807379.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-color: #cccccc;/*use if image is unavailable*/
  background-position: 50% 50%;;
  background-repeat: no-repeat;
  background-size: cover;
}

/*///OVERRIDE BOOTSTRAP//*/




