@charset "utf-8";
/* CSS Document */

/*	     __                           
        / /___ ___ __________________/
   __  / / __ `__ \ ___Jennifer_____/
  / /_/ / / / / / /____Morehead____/
  \____/_/ /_/ /_/________________/ 
*/

/*///COLORS///*/

.aqua { 
	background-color: #16a9c7;
}

.green {
	background-color: green;
}

.lightblue {
	background-color: lightblue;
}

.pink {
	background-color: pink;
}

.red {
	background-color: red;
}

.whitesmoke {
	background-color: whitesmoke;
}

.yellow {
	background-color: #fcdb03;
}

/*///OVERRIDE BOOTSTRAP//*/
.alert-primary {
		color: #572e63;
		background-color: #9b6fa8;
		border-color: #431452;
}

/*this will not work*/
.navbar-toggler {
		color: #572e63;
		border-color: #431452;
}

/*this will work*/
/*follow the specificity of the classes*/
/*use inspector as a guide*/
.navbar-light .navbar-toggler {
		color: #572e63;
		background-color: #9b6fa8;
		border-color: #431452;
}

.text-muted {
	
}



